/*Header----------------------------------------------------------*/
h1 {
    text-align: center;
}

/*Hovedgrid-------------------------------------------------------*/
#mavesection {
    grid-area: mavesection;

}

/*Mavepinesektion-------------------------------------------------*/
#mavepine {
    text-align: center;
    grid-area: mavepine;
}

#a_vagn_1 {
    grid-area: a_vagn_1;
}

#a_vagn_2 {
    grid-area: a_vagn_2;
}

#a_willy_1 {
    grid-area: a_willy_1;
}

#a_willy_2 {
    grid-area: a_willy_2;
}

#a_vagn_billede {
    grid-area: a_vagn_billede;
}

#a_vagn_navn {
    grid-area: a_vagn_navn;
}

#a_vagn_kommentar_1 {
    grid-area: a_vagn_kommentar_1;
}

#a_vagn_kommentar_2 {
    grid-area: a_vagn_kommentar_2;
}

#a_willy_billede {
    grid-area: a_willy_billede;
}

#a_willy_navn {
    grid-area: a_willy_navn;
}

#a_willy_kommentar_1 {
    grid-area: a_willy_kommentar_1;
}

#a_willy_kommentar_2 {
    grid-area: a_willy_kommentar_2;
}
/*End på mavepinesektion-------------------------------------------------------*/

/*Dårlig lugt sektion----------------------------------------------------------*/
#dårlig_lugt {
    text-align: center;
    grid-area: dårlig_lugt;
}

#b_billede_klaus {
    grid-area: b_billede_klaus;
}

#b_klaus {
    grid-area: b_klaus;
}

#b_klaus_kommentar {
    grid-area: b_klaus_kommentar;
}
/*End dårlig lugt sektion-----------------------------------------------------*/

/*-----------Grid til mobil---------------------------------------------------*/
#hovedgrid {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-areas:
        ". mavesection ."
        ;
}

#mavesection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "mavepine"
        "a_vagn_1"
        "a_willy_1"
        "a_vagn_2"
        "a_willy_2"
        ;
}

#a_vagn_1 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "a_vagn_billede a_vagn_navn"
        "a_vagn_kommentar_1 a_vagn_kommentar_1"
        ;
}

#a_willy_1 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "a_willy_billede a_willy_navn"
        "a_willy_kommentar_1 a_willy_kommentar_1"
        ;
}

#a_vagn_2 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "a_vagn_billede a_vagn_navn"
        "a_vagn_kommentar_2 a_vagn_kommentar_2"
        ;
}

#a_willy_2 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "a_willy_billede a_willy_navn"
        "a_willy_kommentar_2 a_willy_kommentar_2"
        ;
}/*-----------Slut på grid til mobil----------------------------------------*/


/*Start på responsiv og grid til --tablet-----------------------------------*/
@media screen and (min-width: 650px) {

    body {
        background-color: azure;
    }

}
/*Slut på responsiv og grid til --tablet-------------------------------------*/

/*Start på responsiv og grid til --PC----------------------------------------*/
@media screen and (min-width: 1100px) {

    body {
        background-color: red;
    }

}
/*Slut på responsiv og grid til --PC------------------------------------------*/