/*Tags----------------------------------------------------------*/
header {
    text-align: center;
    font-family: "CHILLER";
}
h2 {
    text-align: center;
    font-family: "CHILLER";
    font-size: 40px;
}
body {
    background: linear-gradient(#a50202 50%, black 95%);
    background-attachment: fixed;
    font-family: "CHILLER";
    font-size: 30px;
    /*  */
    /* background: radial-gradient(url(baggrund.JPG) 70%, transparent 75%); */
    /*  */
    /* background-size: 100%; */
}
#a_vagn_1, #a_willy_1, #a_vagn_2, #a_willy_2, #b_klaus_1, #b_edward, #b_caroline, #b_klaus_2, #c_elena_1, #c_elijah_1, #c_elena_2, #c_elijah_2, #c_elena_3, #d_stefan_1, #d_damon_1, #d_caroline_2, #d_stefan_2, #d_damon_2, #e_damon_3, #e_damon_3, #e_elena_4, #e_damon_4, #e_caroline_3, #e_elijah_3, #e_klaus_3, footer, h2 {
    background: radial-gradient(#a50202, transparent 70%);
    padding: 10px;
    margin: 10px;
}
footer {
    text-align: center;
    margin: 20px;
}
p {
    font-family:"Argaila Regular";
    font-size: 20px;
}
/*Hovedgrid-------------------------------------------------------*/
#mavesection {
    grid-area: mavesection;
}
#lugt {
    grid-area: lugt;
}
#dead {
    grid-area: dead;
}
#rent {
    grid-area: rent;
}
#mad {
    grid-area: mad;
}
#menu {
    grid-area: menu;
}

/*Mavepinesektion-------------------------------------------------*/
#mavepine {
    grid-area: mavepine;
}
#a_vagn_1 {
    grid-area: a_vagn_1;
}
#a_vagn_2 {
    grid-area: a_vagn_2;
}
#a_willy_1 {
    grid-area: a_willy_1;
}
#a_willy_2 {
    grid-area: a_willy_2;
}
#a_vagn_billede {
    grid-area: a_vagn_billede;
}
#a_vagn_navn {
    grid-area: a_vagn_navn;
}
#a_vagn_kommentar_1 {
    grid-area: a_vagn_kommentar_1;
}
#a_vagn_kommentar_2 {
    grid-area: a_vagn_kommentar_2;
}
#a_willy_billede {
    grid-area: a_willy_billede;
}
#a_willy_navn {
    grid-area: a_willy_navn;
}
#a_willy_kommentar_1 {
    grid-area: a_willy_kommentar_1;
}
#a_willy_kommentar_2 {
    grid-area: a_willy_kommentar_2;
}
/*End på mavepinesektion-------------------------------------------------------*/

/*Dårlig lugt sektion----------------------------------------------------------*/
#daerlig_lugt {
    grid-area: daerlig_lugt;
}
#b_klaus_1 {
    grid-area: b_klaus_1;
}
#b_edward {
    grid-area: b_edward;
}
#b_caroline {
    grid-area: b_caroline;
}
#b_klaus_2 {
    grid-area: b_klaus_2;
}
#b_klaus_billede {
    grid-area: b_klaus_billede;
}
#b_klaus_navn {
    grid-area: b_klaus_navn;
}
#b_klaus_kommentar_1 {
    grid-area: b_klaus_kommentar_1;
}
#b_klaus_kommentar_2 {
    grid-area: b_klaus_kommentar_2;
}
#b_edward_billede {
    grid-area: b_edward_billede;
}
#b_edward_navn {
    grid-area: b_edward_navn;
}
#b_edward_kommentar {
    grid-area: b_edward_kommentar;
}
#b_caroline_billede {
    grid-area: b_caroline_billede;
}
#b_caroline_navn {
    grid-area: b_caroline_navn;
}
#b_caroline_kommentar {
    grid-area: b_caroline_kommentar;
}
#b_klaus_2_billede {
    grid-area: b_klaus_2_billede;
}
#b_klaus_2_navn {
    grid-area: b_klaus_2_navn;
}
#b_klaus_2_kommentar {
    grid-area: b_klaus_2_kommentar;
}
/*End dårlig lugt sektion-----------------------------------------------------*/

/*Dødsfald sektion------------------------------------------------------------*/
#doedsfald {
    grid-area: doedsfald;
}
#c_elena_1 {
    grid-area: c_elena_1;
}
#c_elijah_1 {
    grid-area: c_elijah_1;
}
#c_elena_2 {
    grid-area: c_elena_2;
}
#c_elijah_2 {
    grid-area: c_elijah_2;
}
#c_elena_3 {
    grid-area: c_elena_3;
}
#c_elena_1_billede {
    grid-area: c_elena_1_billede;
}
#c_elena_1_navn {
    grid-area: c_elena_1_navn;
}
#c_elena_1_kommentar {
    grid-area: c_elena_1_kommentar;
}
#c_elijah_1_billed {
    grid-area: c_elijah_1_billed;
}
#c_elijah_1_navn {
    grid-area: c_elijah_1_navn;
}
#c_elijah_1_kommentar {
    grid-area: c_elijah_1_kommentar;
}
#c_elena_2_billede {
    grid-area: c_elena_2_billede;
}
#c_elena_2navn {
    grid-area: c_elena_2navn;
}
#c_elena_2_kommentar {
    grid-area: c_elena_2_kommentar;
}
#c_elijah_2_billed {
    grid-area: c_elijah_2_billed;
}
#c_elijah_2_navn {
    grid-area: c_elijah_2_navn;
}
#c_elijah_2_kommetar {
    grid-area: c_elijah_2_kommetar;
}
#c_elena_3_billede {
    grid-area: c_elena_3_billede;
}
#c_elena_3_navn {
    grid-area: c_elena_3_navn;
}
#c_elena_3_kommentar {
    grid-area: c_elena_3_kommentar;
}
/*End dødsfald sektion--------------------------------------------------------*/

/*Rent blod sektion------------------------------------------------------------*/
#rent_blod {
    grid-area: rent_blod;
}
#d_stefan_1 {
    grid-area: d_stefan_1;
}
#d_stefan_1_billede {
    grid-area: d_stefan_1_billede;
}
#d_stefan_1_navn {
    grid-area: d_stefan_1_navn;
}
#d_stefan_1_kommentar {
    grid-area: d_stefan_1_kommentar;
}
#d_damon_1 {
    grid-area: d_damon_1;
}
#d_damon_1_billede {
    grid-area: d_damon_1_billede;
}
#d_damon_1_navn {
    grid-area: d_damon_1_navn;
}
#d_damon_1_kommentar {
    grid-area: d_damon_1_kommentar;
}
#d_caroline_2 {
    grid-area: d_caroline_2;
}
#d_caroline_2_billede {
    grid-area: d_caroline_2_billede;
}
#d_caroline_2_navn {
    grid-area: d_caroline_2_navn;
}
#d_caroline_2_kommentar {
    grid-area: d_caroline_2_kommentar;
}
#d_stefan_2 {
    grid-area: d_stefan_2;
}
#d_stefan_2_billede {
    grid-area: d_stefan_2_billede;
}
#d_stefan_2_navn {
    grid-area: d_stefan_2_navn;
}
#d_stefan_2_kommentar {
    grid-area: d_stefan_2_kommentar;
}
#d_damon_2 {
    grid-area: d_damon_2;
}
#d_damon_2_billede {
    grid-area: d_damon_2_billede;
}
#d_damon_2_navn {
    grid-area: d_damon_2_navn;
}
#d_damon_2_kommentar {
    grid-area: d_damon_2_kommentar;
}
/*End Rent Blod sektion--------------------------------------------------------*/

/*Madforgiftning-----------------------------------------------------------*/
#madforgiftning {
    grid-area: madforgiftning;
}
#e_damon_3 {
    grid-area: e_damon_3;
}
#e_damon_3_billede {
    grid-area: e_damon_3_billede;
}
#e_damon_3_navn {
    grid-area: e_damon_3_navn;
}
#e_damon_3_kommentar {
    grid-area: e_damon_3_kommentar;
}
#e_elena_4 {
    grid-area: e_elena_4;
}
#e_elena_4_billede {
    grid-area: e_elena_4_billede;
}
#e_elena_4_navn {
    grid-area: e_elena_4_navn;
}
#e_delena_4_kommentar {
    grid-area: e_delena_4_kommentar;
}
#e_damon_4 {
    grid-area: e_damon_4;
}
#e_damon_4_billede {
    grid-area: e_damon_4_billede;
}
#e_damon_4_navn {
    grid-area: e_damon_4_navn;
}
#e_damon_4_kommentar {
    grid-area: e_damon_4_kommentar;
}
#e_caroline_3 {
    grid-area: e_caroline_3;
}
#e_caroline_3_billede {
    grid-area: e_caroline_3_billede;
}
#e_caroline_3_navn {
    grid-area: e_caroline_3_navn;
}
#e_caroline_3_kommentar {
    grid-area: e_caroline_3_kommentar;
}
#e_elijah_3 {
    grid-area: e_elijah_3;
}
#e_elijah_3_billede {
    grid-area: e_elijah_3_billede;
}
#e_elijah_3_navn {
    grid-area: e_elijah_3_navn;
}
#e_elijah_3_kommentar {
    grid-area: e_elijah_3_kommentar;
}
#e_klaus_3 {
    grid-area: e_klaus_3;
}
#e_klaus_3_billede {
    grid-area: e_klaus_3_billede;
}
#e_klaus_3_navn {
    grid-area: e_klaus_3_navn;
}
#e_klaus_3_kommentar {
    grid-area: e_klaus_3_kommentar;
}
/*End Madforgiftning sektion-------------------------------------------------*/

/*-----------Grid reset---------------------------------------------------*/
#mavesection, #lugt, #dead, #rent, #mad {
    padding: 20px;
    margin: 20px;
}
/*----------------Navigatin-------------------------------------------------*/
.navbar {
    width: 100%;
    background-color: black;
    overflow: hidden;
    bottom: 0;
    /* left: center; */
    position: fixed; 
}
.navbar a {
    float: left;
    padding: 12px 0px 12px 0px;
    color: #a50202;
    text-decoration: none;
    font-size: 25px;
    width: 20%;
    text-align: center;
}
.navbar a:hover {
    background-color: #a50202;
    color: black;
}
/*-----------End Grid reset og navigation-----------------------------------*/

/*-----------Grid til mobil---------------------------------------------------*/
#hovedgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "mavesection"
        "lugt"
        "dead"
        "rent"
        "mad"
        "menu"
        ;
}
/*-----------------Mave-------------------------------------------------------*/
#mavesection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "mavepine"
        "a_vagn_1"
        "a_willy_1"
        "a_vagn_2"
        "a_willy_2"
        ;
}
#a_vagn_1 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "a_vagn_billede a_vagn_navn"
        "a_vagn_kommentar_1 a_vagn_kommentar_1"
        ;
}
#a_willy_1 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "a_willy_billede a_willy_navn"
        "a_willy_kommentar_1 a_willy_kommentar_1"
        ;
}
#a_vagn_2 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "a_vagn_billede a_vagn_navn"
        "a_vagn_kommentar_2 a_vagn_kommentar_2"
        ;
}
#a_willy_2 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "a_willy_billede a_willy_navn"
        "a_willy_kommentar_2 a_willy_kommentar_2"
        ;
}
/*----------------------End Mave-----------------------------------------------*/

/*-------------------------Lugt------------------------------------------------*/
#lugt {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "daerlig_lugt"
        "b_klaus_1"
        "b_edward"
        "b_caroline"
        "b_klaus_2"
        ;
}
#b_klaus_1 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "b_klaus_billede b_klaus_navn"
        "b_klaus_kommentar_1 b_klaus_kommentar_1"
        ;
}
#b_edward {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "b_edward_billede b_edward_navn"
        "b_edward_kommentar b_edward_kommentar"
        ;
}
#b_caroline {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "b_caroline_billede b_caroline_navn"
        "b_caroline_kommentar b_caroline_kommentar"
        ;
}
#b_klaus_2 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "b_klaus_2_billede b_klaus_2_navn"
        "b_klaus_2_kommentar b_klaus_2_kommentar"
        ;
}
/*-------------------------End Lugt--------------------------------------------*/

/*-------------------------Død-------------------------------------------------*/
#dead {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "doedsfald"
        "c_elena_1"
        "c_elijah_1"
        "c_elena_2"
        "c_elijah_2"
        "c_elena_3"
        ;
}
#c_elena_1 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "c_elena_1_billede c_elena_1_navn"
        "c_elena_1_kommentar c_elena_1_kommentar"
        ;
}
#c_elijah_1 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "c_elijah_1_billed c_elijah_1_navn"
        "c_elijah_1_kommentar c_elijah_1_kommentar"
        ;
}
#c_elena_2 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "c_elena_2_billede c_elena_2navn"
        "c_elena_2_kommentar c_elena_2_kommentar"
        ;
}
#c_elijah_2 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "c_elijah_2_billed c_elijah_2_navn"
        "c_elijah_2_kommetar c_elijah_2_kommetar"
        ;
}
#c_elena_3 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "c_elena_3_billede c_elena_3_navn"
        "c_elena_3_kommentar c_elena_3_kommentar"
        ;
}
/*-------------------------End Død---------------------------------------------*/

/*-------------------------Rent blod---------------------------------------*/
#rent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "rent_blod"
        "d_stefan_1"
        "d_damon_1"
        "d_caroline_2"
        "d_stefan_2"
        "d_damon_2"
        ;
}
#d_stefan_1 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "d_stefan_1_billede d_stefan_1_navn"
        "d_stefan_1_kommentar d_stefan_1_kommentar"
        ;
}
#d_damon_1 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "d_damon_1_billede d_damon_1_navn"
        "d_damon_1_kommentar d_damon_1_kommentar"
        ;
}
#d_caroline_2 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "d_caroline_2_billede d_caroline_2_navn"
        "d_caroline_2_kommentar d_caroline_2_kommentar"
        ;
}
#d_stefan_2 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "d_stefan_2_billede d_stefan_2_navn"
        "d_stefan_2_kommentar d_stefan_2_kommentar"
        ;
}
#d_damon_2 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "d_damon_2_billede d_damon_2_navn"
        "d_damon_2_kommentar d_damon_2_kommentar"
        ;
}
/*-------------------------End Rent Blod-----------------------------------*/

/*-------------------------Madforgiftning----------------------------------*/
#mad {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "madforgiftning"
        "e_damon_3"
        "e_elena_4"
        "e_damon_4"
        "e_caroline_3"
        "e_elijah_3"
        "e_klaus_3"
        ;
}
#e_damon_3 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "e_damon_3_billede e_damon_3_navn"
        "e_damon_3_kommentar e_damon_3_kommentar"
        ;
}
#e_elena_4 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "e_elena_4_billede e_elena_4_navn"
        "e_delena_4_kommentar e_delena_4_kommentar"
        ;
}
#e_damon_4 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "e_damon_4_billede e_damon_4_navn"
        "e_damon_4_kommentar e_damon_4_kommentar"
        ;
}
#e_caroline_3 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "e_caroline_3_billede e_caroline_3_navn"
        "e_caroline_3_kommentar e_caroline_3_kommentar"
        ;
}
#e_elijah_3 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "e_elijah_3_billede e_elijah_3_navn"
        "e_elijah_3_kommentar e_elijah_3_kommentar"
        ;
}
#e_klaus_3 {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "e_klaus_3_billede e_klaus_3_navn"
        "e_klaus_3_kommentar e_klaus_3_kommentar"
        ;
}
/*-------------------------End Madforgiftning------------------------------*/
/*-----------Slut på grid til mobil----------------------------------------*/

/*Start på responsiv og grid til --tablet----------------------------------*/
@media screen and (min-width: 680px) {
    h2 {
        text-align: left;
    }
    #hovedgrid {
        display: grid;
        grid-template-columns: 1fr 150px 500px 1fr;
        grid-template-areas:
            ". menu mavesection ."
            ". menu lugt ."
            ". menu dead ."
            ". menu rent ."
            ". menu mad ."
        ;
    }
    .navbar {
        height: 100%;
        width: 140px;
        position: fixed;
        top: 100px;
        background-color: black;
        padding-top: 50px;
        padding-bottom: 50px;
        float: top;
    }
    .navbar a {
        width: 100%;
        float: left;
    }
    body {
        background-image: url(Nybaggrund3.jpg);
        background-color: #8c785e;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
/*Slut på responsiv og grid til --tablet-------------------------------------*/

/*Start på responsiv og grid til --PC----------------------------------------*/
@media screen and (min-width: 1400px) {
    h2 {
        text-align: left;
        padding: 10px;
        margin: 10px;
    }
    .navbar {
        width: 1050px;
        height: auto;
        top: auto;
        left: auto;
        padding: 0px;
    }
    .navbar a {
        float: left;
        width: 20%;
    }
    #hovedgrid {
        display: grid;
        grid-template-columns: 1fr 200px 900px 1fr;
        grid-template-areas:
            ". . menu ."
            ". . mavesection ."
            ". . lugt ."
            ". . dead ."
            ". . rent ."
            ". . mad ."
            ;
    }
    #mavesection, #lugt, #dead, #rent, #mad {
        grid-template-columns: 450px 1fr 450px;
    }
    #mavesection {
        display: grid;
        grid-template-areas:
            "mavepine mavepine mavepine"
            "a_vagn_1 . a_willy_1"
            ". . a_vagn_2"
            ". . a_willy_2"
            ;
    }
    #lugt {
        display: grid;
        grid-template-areas:
            "daerlig_lugt daerlig_lugt daerlig_lugt"
            "b_klaus_1 . b_edward"
            ". . b_caroline"
            ". . b_klaus_2"
            ;
    }
    #dead {
        display: grid;
        grid-template-areas:
            "doedsfald doedsfald doedsfald"
            "c_elena_1 . c_elijah_1"
            ". . c_elena_2"
            ". . c_elijah_2"
            ". . c_elena_3"
            ;
    }
    #rent {
        display: grid;
        grid-template-areas:
            "rent_blod rent_blod rent_blod"
            "d_stefan_1. d_damon_1"
            ". . d_caroline_2"
            ". . d_stefan_2"
            ". . d_damon_2"
            ;
    }
    #mad {
        display: grid;
        grid-template-areas:
            "madforgiftning madforgiftning madforgiftning"
            "e_damon_3 . e_elena_4"
            ". . e_damon_4"
            ". . e_caroline_3"
            ". . e_elijah_3"
            ". . e_klaus_3"
            ;
    }
}
/*Slut på responsiv og grid til --PC------------------------------------------*/