#overskrift {
    text-align: center;
    grid-area: overskrift;
}

/*Meny*/
#mavepine {
    text-align: center;
    grid-area: meny;
}

/*Mavepinesektion*/
#mavepine {
    text-align: center;
    grid-area: mavepine;
}

#a_vagn {
    grid-area: a_vagn;
}

#a_willy {
    grid-area: a_willy;
}

#a_boerge {
    grid-area: a_boerge;
}

#a_frank {
    grid-area: a_frank;
}

#a_vagn_billede {
    grid-area: a_vagn_billede;
}

#a_vagn_navn {
    grid-area: a_vagn_navn;
    text-align: left;
}

#a_vagn_kommentar {
    grid-area: a_vagn_kommentar;
}

#a_willy_billede {
    grid-area: a_willy_billede;
}

#a_willy_navn {
    grid-area: a_willy_billede;
}

#a_willy_kommentar {
    grid-area: a_willy_kommentar;
}
/*End på mavepinesektion*/

/*Dårlig lugt sektion*/
#dårlig_lugt {
    text-align: center;
    grid-area: dårlig_lugt;
}

#b_billede_klaus {
    grid-area: b_billede_klaus;
}

#b_klaus {
    grid-area: b_klaus;
}

#b_klaus_kommentar {
    grid-area: b_klaus_kommentar;
}
/*End dårlig lugt sektion*/

/*-----------Grid til mobil--------------------*/
#mithovedgrid {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        ". overskrift"
        ". mavepine"
        ". a_vagn"
        ". a_willy"
        ;
}

#a_vagn {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "a_vagn_billede a_vagn_navn"
        "a_vagn_kommentar a_vagn_kommentar"
        ;
}

#a_willy {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "a_willy_billede a_willy_navn"
        "a_willy_kommentar a_willy_kommentar";
}
/*-----------Slut på grid til mobil------------*/


/*Start på responsiv og grid til --tablet--*/
/* @media screen and (min-width: 650px) {

    body {
        background-color: azure;
    }

    #mithovedgrid {
        display: grid;
        grid-template-columns: 1fr 50px 525px 1fr;
        grid-template-areas:
            ". overskrift overskrift ."
            ". mavepine mavepine ."
            ". a_vagn_billede a_vagn_navn ."
            ". . a_vagn_kommentar ."
            ". a_willy_billede a_willy_navn ."
            ". . a_willy_kommentar ."
            ". dårlig_lugt dårlig_lugt ."
            ". b_billede_klaus b_klaus ."
            ". . b_klaus_kommentar ."
            ". . meny meny .";
    }
} */
/*Slut på responsiv og grid til --tablet--*/

/*Start på responsiv og grid til --PC--*/
/* @media screen and (min-width: 1100px) {

    body {
        background-color: red;
    }

    #mithovedgrid {
        display: grid;
        grid-template-columns: 1fr 50px 450px 50px 450px 1fr;
        grid-template-areas:
            ". overskrift overskrift overskrift overskrift ."
            ". mavepine mavepine mavepine mavepine ."
            ". a_billede_vagn a_vagn a_billede_willy a_willy ."
            ". . a_hoved_blog . a_willy_kommentar ."
            ". dårlig_lugt dårlig_lugt dårlig_lugt dårlig_lugt ."
            ". b_billede_klaus b_klaus . . ."
            ". . b_klaus_kommentar . . ."
            ". meny meny . . .";
    }
} */
/*Slut på responsiv og grid til --PC--*/